function CarpetPlacer.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push constant 12
pop this 0
push pointer 0
return
function CarpetPlacer.previewCarpet 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 1
pop local 2
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call KeyboardInput.readInput 0
pop local 0
push local 0
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
push argument 2
push argument 3
call CarpetPlacer.restoreCarpet 4
pop temp 0
label IF_FALSE1
push argument 1
push constant 1
sub
pop argument 1
push argument 1
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 1
sub
pop argument 1
label IF_FALSE2
push pointer 0
push argument 1
push argument 2
push argument 3
push argument 4
call CarpetPlacer.placeCarpet 5
pop argument 4
push constant 0
pop local 2
label IF_FALSE0
push local 0
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push argument 1
push argument 2
push argument 3
call CarpetPlacer.restoreCarpet 4
pop temp 0
label IF_FALSE4
push argument 1
push constant 1
add
pop argument 1
push argument 1
push this 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop argument 1
label IF_FALSE5
push pointer 0
push argument 1
push argument 2
push argument 3
push argument 4
call CarpetPlacer.placeCarpet 5
pop argument 4
push constant 0
pop local 2
label IF_FALSE3
push local 0
push constant 128
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call CarpetPlacer.setGameBoard 1
pop temp 0
push constant 1
pop local 1
label IF_FALSE6
call KeyboardInput.waitRelease 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function CarpetPlacer.restoreCarpet 2
push argument 0
pop pointer 0
push constant 26
push argument 2
call Math.multiply 2
push constant 49
add
pop local 0
push constant 26
push argument 3
call Math.multiply 2
push constant 49
add
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push constant 12
sub
push local 1
push constant 12
sub
push local 0
push constant 12
add
push local 1
push constant 12
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function CarpetPlacer.placeCarpet 2
push argument 0
pop pointer 0
push constant 26
push argument 2
call Math.multiply 2
push constant 49
add
pop local 0
push constant 26
push argument 3
call Math.multiply 2
push constant 49
add
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push constant 12
sub
push local 1
push constant 12
sub
push local 0
push constant 12
add
push local 1
push constant 12
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function CarpetPlacer.setGameBoard 0
push argument 0
pop pointer 0
push constant 0
return
