function Random.rand 1
push argument 0
push argument 1
add
push argument 0
push argument 1
call Math.multiply 2
call Math.multiply 2
push argument 0
push argument 1
add
call Math.divide 2
pop local 0
push local 0
push constant 6
call Calculate.mod 2
pop local 0
push local 0
push constant 1
add
return
